<div class='row'>
    <div class="col m-5">
        <h2>*ng if</h2>
        <div *ngIf='mostrar' class=" card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">{{frase.autor}}</div>
            <div class="card-body text-success">
              <h5 class="card-title">{{frase.mensaje}}</h5>              
            </div>            
          </div>
          <button class="btn btn-outline-danger" (click)='mostrar = !mostrar' >
            Mostrar/Ocultar
          </button>
    </div>
    <div class='col m-5'>
        <H2>ng for</H2>
        <ul class="list-group">
            <li *ngFor='let items of arreglo; let i = index' class="list-group-item">{{i+1}} - {{items}}</li>            
          </ul>
    </div>
</div>